
#navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

#navbardef {
   background-color: #66ff99;
  border-color: #44a364;
}
/*/*#main{
  background-color: silver ;
}*/
.links li 
{
 list-style: none;
 margin: 10px auto;
 
}
.links li a {
  font-family: 'Asar', serif;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-decoration: none;
  color: black
}


.jumbotron {
  
  margin-bottom: 20px;
  padding:100px;
 
}

#container-1{
  /*border-style: dashed;
  border-color: blue;*/
  width: 100%;
  margin-bottom: 20px;
}
#container-2{
  /*border-style: dashed;
  border-color: green;*/
  padding: 0 0 auto 0;
  
}

#employeeTipSection{
border-style: none;

float: right;
width: 80%;
/*border-color: purple;*/

}

#nav-section {
  
  background-color: #f6f6f6;
  box-shadow: 0 0 20px #262626;
  border-radius: 5px;
}

#amount-total{
  border-style: none;
  border-radius: 10px;
  /*border-color:pink;*/
  text-align : center;
  height: 100px;
  float: right;
  background-color: #f6f6f6;
box-shadow: 0 0 20px #262626;
  z-index: 2;  
}
#logo{
  
  
  height: 100px;
  width: 30%;
  background-color: #66ff99;
  border-radius: 10px;
box-shadow: 0 0 20px #262626;
  float: left;
  
  
}
#amtToRec {
  margin-top: 10px;
  font-size: 45px;
  font-family: 'Asar', serif;
  text-align: center;
  color:rgb(0.9%, 60.9%, 0.9%);
}
#logo img{
  position: absolute;
  height: 100px;
  margin: 2px 5px 2px 60px;
  
}
th{
  background:#66e199;
  color: white;
  align-content: center;
  text-align: center;
  padding-left: 100px;
  font-family: 'Asar', serif;

  
  
}
td{
  text-align: center;
  width: 30%;
  background-color: white;
 
}
tr{
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
 
}
#table {

box-shadow: 0 0 20px #262626;

}
/*#employee-list{
  box-shadow: 0 0 10px #777777;
}

/*    navbar */


/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px !important;
 
}

.navbar-default {
  background-color: #e74c3c !important;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

/* Custom */
.main-color-bg{
  background-color: #e74c3c !important;
  border-color: #c0392b !important;
  color:#ffffff !important;
}

/* Header */
#header{
  background:#333333;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

#login{
  margin-top:30px;
}

/* Footer */
#footer{
  background:#333333;
  color:#ffffff;
  text-align:center;
  padding:30px;
  margin-top:30px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c0392b;
  }
}

