<style>
    body {
        background-color: grey;
    }
    .jumbotron {
        margin-top: 3%;
        background-color: #40d873;
        /*height: 100vh;*/
        /*width: 100vw;*/
        border: none;
    }
    #profilePic {
        border: 5px solid black;
    }
    .btn-primary {
        background-color: #4C5056;
        border: none;
        background-image: none;
    }
    .enterAmount {
        text-align: center;
    }
    .center-inner-addon input {
        padding-left: 22px;
    }
    .center-inner-addon span {
        position: absolute;
        padding: 7px 12px;
        pointer-events: none;
    }
    .center-inner-addon {
        padding-top: 10px;
        display: inline-block;
        text-align: left;
    }
    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
    .btn-circle.btn-lg {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 25px;
    }
    .btn-circle.btn-xl {
        width: 80px;
        height: 80px;
        padding: 10px 17px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 45px;
    }
    @media (max-width: 768px) {
        #tiptuity {
            width: 70%;
            margin: auto;
        }
    }
</style>
    <div class="container">
        <div class="jumbotron" id="box">
            <div class="row">
                <div class="text-center">
                    <img src="../public/images/TiptuityLogo.png" id="tiptuity" alt="" width="400px">
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <button name="OneDoll" value="1" onclick="paySent()" type="button" class="btn-xl btn-primary btn-circle" id="btnColor">$1</button>
                    <button name="OneDoll" value="1" onclick="paySent()" type="button" class="btn-xl btn-primary btn-circle">$3</button>
                    <button name="OneDoll" value="1" onclick="paySent()" type="button" class="btn-xl btn-primary btn-circle">$5</button>
                    <button name="OneDoll" value="1" onclick="paySent()" type="button" class="btn-xl btn-primary btn-circle">$10</button>
                </div>
                <div class="enterAmount">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="center-inner-addon">
                                <span>$</span>
                                <input type="number" class="form-control" min="0.01" step="0.01" max="2500" value=""  placeholder="0.00" />
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="text-center">
                        <button name="OneDoll" value="1" onclick="submitTip()" type="button" class="btn-lg btn-primary">Submit Tip</button>
                    </div>
                    <br>
                
                <button type="button" class="btn btn-primary btn-lg col-xs-offset-5" data-toggle="modal" data-target="#myModal">
                    Or Enter Amount
                </button>
                </div>
                <br>
                <div class="row" class="empPic">
                    <div class="text-center">
                        <img src="https://avatars1.githubusercontent.com/u/18063370?v=3&s=460" id="profilePic" width="200px">
                        <h2>Faisal Narsi</h2>
                        <br>
                    </div>
                </div>
                
            </div>
        </div>
<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    <h4 class="modal-title w-100" id="myModalLabel">Payment</h4>
                </div>
                <!--Body-->
                <div class="modal-body">


                    <form action="/charge/3" method='post' class="form-horizontal" role="form">
                        <fieldset>
                            <legend>Please Enter Your Payment Information</legend>
                            <div class="form-group">
                                <label class="col-sm-3 control-label " for="card-holder-name">Name on Card</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="cardholderName" id="card-holder-name" placeholder="Card Holder's Name">
                                </div>
                            </div>
                            <!--<div class="form-group">
                        <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
                        </div>
                    </div>-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="card-number">Card Number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="cardNum" id="card-number" placeholder="Debit/Credit Card Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <select class="form-control col-sm-2" name="cardExpMonth" id="expiry-month">
                                                        <option>Month</option>
                                                        <option value="01">Jan (01)</option>
                                                        <option value="02">Feb (02)</option>
                                                        <option value="03">Mar (03)</option>
                                                        <option value="04">Apr (04)</option>
                                                        <option value="05">May (05)</option>
                                                        <option value="06">June (06)</option>
                                                        <option value="07">July (07)</option>
                                                        <option value="08">Aug (08)</option>
                                                        <option value="09">Sep (09)</option>
                                                        <option value="10">Oct (10)</option>
                                                        <option value="11">Nov (11)</option>
                                                        <option value="12">Dec (12)</option>
                                    </select>
                                        </div>
                                        <div class="col-xs-3">
                                            <select class="form-control" name="cardExpYear" id="year" >
                                     <option value="13">2013</option>
                                        <option value="14">2014</option>
                                        <option value="15">2015</option>
                                        <option value="16">2016</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                        <option value="23">2023</option>
                                    </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" name="cardCvc" id="cvv" placeholder="Security Code">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="zipcode">Zip Code</label>
                                <div class="col-sm-3">
                                    <input id='cardZip' name="cardZip" id="carZip" type="text" class="form-control" name="cardCvc" id="cvv" placeholder="Security Code">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="amount">Tip Amount</label>
                                <div class="col-sm-3">
                                    <input name="amount" class='field' id='tip-amount' type="number" placeholder="$000">
                                </div>
                            </div>


                        </fieldset>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success">Pay Now</button>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- /.Live preview-->
</div>
<!-- /.Live preview-->
    </div>
    <script type="text/javascript">
        var paySent
        var submitTip
       
      
      $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').focus()
        })
   
        function paySent() {
            if (confirm("Is this the right tip amount?") == true) {
                alert("Your TIP has sent, Thank You!");
            } else {
                alert("OK, enter the right amount");
            }
        };
        function submitTip() {
            if (confirm("Is this the right tip amount?") == true) {
                alert("Your TIP has sent, Thank You!");
            } else {
                alert("OK, enter the right amount");
            }
        };
    </script>