<style>
  /*faisals css*/
  * body {
  background-color:white;
  display: flex;
  align-items: center;
  /*min-height: 100%;*/
  margin-left: 0px;
  font-family: 'Exo', sans-serif;
  }
  button {
  background-color: black;
  color: white;
  font-family: 'Exo', sans-serif;
  }
  #code{
  width:50%;
  height:auto ;
  align: ;
  }
  #logo{
  width:90%;
  height:auto ;
  align: center;
  }
  h2 {
  color: green;
  width:100%;
  height:auto ;
  text-align: center;
  letter-spacing: 1px;
}
  }
  /*login modal css*/
  .modal-header, h4, .close {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
  }
  .modal-footer {
  background-color: #f9f9f9;
  }
  /*login modal css ends*/
  .row {
  margin-left: 6%;
  }
  .top-rt {
  position: absolute;
  top: 10;
  right: 20px;
  }
/*faisal's css ends */
  form {
  width: 480px;
  margin: 20px auto;
  /*border-style: dashed;*/
  border-color: black;
  }
  label {
  position: relative;
  color: #6A7C94;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  display: block;
  }
  label > span {
  float: left;
  }
  .field {
  background: white;
  box-sizing: border-box;
  font-weight: 400;
  border: 1px solid #CFD7DF;
  border-radius: 24px;
  color: #32315E;
  outline: none;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  cursor: text;
  width: 76%;
  float: right;
  }
  .field::-webkit-input-placeholder { color: #CFD7DF; }
  .field::-moz-placeholder { color: #CFD7DF; }
  .field:-ms-input-placeholder { color: #CFD7DF; }
  .field:focus,
  .field.StripeElement--focus {
  border-color: #F99A52;
  margin: 5px;
  }
  /*button {
  float: left;
  display: block;
  background-image: linear-gradient(-180deg, #F8B563 0%, #F99A52 100%);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10), inset 0 -1px 0 0 #E57C45;
  color: white;
  border-radius: 24px;
  border: 0;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  height: 48px;
  line-height: 48px;
  outline: none;
  }
  button:focus {
  background: #EF8C41;
  }
  button:active {
  background: #E17422;
  }*/
  .outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
  }
  .success, .error {
  display: none;
  font-size: 13px;
  }
  .success.visible, .error.visible {
  display: inline;
  }
  .error {
  color: #E4584C;
  }
  .success {
  color: #F8B563;
  }
  .success .token {
  font-weight: 500;
  font-size: 13px;
  }
  /*
  form {
  margin: 5px 20px;
  padding: 20px;
  height: 600px;
  width: 300px;
  border-color: black;
  border-style: dashed;
  }
  .field{
  margin: 5px;
  }*/
  .top-head{
  text-align: center;
  }
  </style>
  <button type="button" class="btn btn-lg top-rt" id="myBtn">Login</button>
  <div class="row">
    <div class="col-sm-6">
      <img src="/public/images/TiptuityLogo.png" alt="TIPnow" id="logo">
    </div>
      <div class="col-sm-6">
      <h2>The no cash, tipping solution. Tip a service professional by scanning their QR code now. </h2>
    </div>
      <div class="col-sm-6">
        <img src="/public/images/code.png" alt="TIPnow" id="code">
      </div>
      <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="email" class="form-control" id="usrname" name='email' placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" name ="password" class="form-control" id="psw" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
  <script>
  $(document).ready(function(){
  $("#myBtn").click(function(){
      $("#myModal").modal();
  });
  });
  </script>
  </body>
  </html>