/*=====================Main page Layout===========================*/
.clients {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-max(156px, 1fr));
  grid-template-areas:
    "stats1"
    "stats2"
    "stats3"
    "clients_list";
  grid-gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

/*=====================Similiar Background===========================*/
.top_client,
.client_amount,
.num_clients {
  box-sizing: border-box;
  padding: 1rem;
  background: #f5f5f7;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #bfbfc1, -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top_client > div,
.client_amount > div,
.num_clients > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.top_client > h5,
.client_amount > h5,
.num_clients > h5 {
  border-bottom: solid 1px grey;
  margin-bottom: 1rem;
}

.top_client > div > h2,
.client_amount > div > h2,
.num_clients > div > h2 {
  text-align: center;
  margin-left: 1rem;
}

/*=====================list of clients===========================*/
.amounts_by_clients,
.clients_details {
  box-sizing: border-box;
  padding: 1rem;
  background: #f5f5f7;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #bfbfc1, -20px -20px 60px #ffffff;
}

.amounts_by_clients_container {
  max-height: 65vh;
  overflow: auto;
}
.clients_details {
  max-height: 65vh;
  overflow: auto;
}

.individual_client {
  cursor: pointer;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 18px 18px 36px #d9d9d9, -18px -18px 36px #ffffff;
}
.individual_client_clicked {
  cursor: pointer;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: inset 18px 18px 36px #d9d9d9, inset -18px -18px 36px #ffffff;
}
.individual_client:nth-child(1) {
  margin-top: 1rem;
}

.modification {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.modification > button {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 40%;
  outline: none;
  color: #2f2f31;
  font-family: "Poppins";
  border: none;
  border-radius: 32px;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(145deg, #ffffff, #ddddde);
  box-shadow: 13px 13px 26px #a9a9aa, -13px -13px 26px #ffffff;
}

.modification > button:active {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 40%;
  outline: none;
  border: none;
  color: #2f2f31;
  font-family: "Poppins";
  border-radius: 32px;
  font-size: 16px;
  font-weight: 500;
  background: #f5f5f7;
  box-shadow: inset 15px -15px 30px #dfdfe1, inset -15px 15px 30px #ffffff;
}

@media only screen and (min-width: 600px) {
  .clients {
    display: grid;
    grid-template-columns: repeat(auto-fit, min-max(156px, 1fr));
    grid-template-areas:
      "stats1 stats2 stats3"
      "clients_list clientDetails clientDetails";
  }

  .top_client {
    grid-area: stats1;
  }
  .client_amount {
    grid-area: stats2;
  }
  .num_clients {
    grid-area: stats3;
  }
  .amounts_by_clients {
    grid-area: clients_list;
  }
  .clients_details {
    grid-area: clientDetails;
  }
}
