.emp_container {
  display: grid;
  grid-template-columns: auto-fit auto-fit auto-fit;
  grid-template-rows: auto;
  grid-gap: 2rem;
  grid-template-areas:
    "statistics statistics statistics"
    "topFiv tips tips";
  justify-content: space-evenly;
  align-items: center;
  color: #2f2f31;
}
.emp_container_stats {
  grid-area: statistics;
  display: Grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "stats coll something";
  grid-gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
}

.emp_tips_collected {
  border-radius: 1rem;
  width: 300px;
  height: 100px;
  background: #f5f5f7;
  box-shadow: 20px 20px 60px #bfbfc1, -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.one {
  grid-area: stats;
}
.two {
  grid-area: coll;
}
.three {
  grid-area: something;
}

.emp_container_list {
  grid-area: topFiv;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  background: #f5f5f7;
  box-shadow: 20px 20px 60px #bfbfc1, -20px -20px 60px #ffffff;
}

.heading {
  border-bottom: 1px solid #ceced3;
  border-width: 2px;
  padding: 1rem;
}
.details {
  padding: 1rem;
  width: 100%;
}

/* =============== Top5 layouts ============ */
.topFive_list {
  list-style: none;
}
.topFive_emp_details {
  cursor: pointer;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background: #ffffff;
  box-shadow: 18px 18px 36px #d9d9d9, -18px -18px 36px #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "namer amount";
  justify-content: space-evenly;
  align-items: center;
}
.topFive_emp_details_clicked {
  cursor: pointer;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border-color: #7cea4a;
  background: #ffffff;
  box-shadow: inset 18px 18px 36px #d9d9d9, inset -18px -18px 36px #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "namer amount";
  justify-content: space-evenly;
  align-items: center;
}

.topFive_emp_names {
  grid-area: namer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.topFive_emp_amount {
  grid-area: amount;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/*===============Tips List CSS==================*/
.emp_tips {
  grid-area: tips;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 1rem;
  background: #f5f5f7;
  box-shadow: 20px 20px 60px #bfbfc1, -20px -20px 60px #ffffff;
}
.topFive_tips_coll {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "Heads Heads Heads"
    "Ima Ima Ima"
    "tipss tipss tipss";
  grid-gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
  /* max-height: 53.5vh; */
}

.emp_heading {
  grid-area: Heads;
  margin: 0 auto;
}
.emp_img {
  grid-area: Ima;
  margin: 0 auto;
}
.emp_tips_list {
  grid-area: tipss;
  margin: 0 auto;
  width: 80%;
  max-height: 53.5vh;
}

.emp_tips_so_far {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  margin-bottom: 1.3rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: 20px 20px 60px #bfbfc1, -20px -20px 60px #ffffff;
}

@media only screen and (max-width: 600px) {
  .emp_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    grid-template-areas:
      "statistics"
      "statistics"
      "statistics"
      "topFiv"
      "topFiv"
      "tips";
  }

  .emp_container_stats {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    grid-template-areas:
      "stats"
      "coll"
      "something";
  }
  .emp_tips {
    display: none;
  }
}
