.Main-Page {
  min-height: 100vh;
  /* min-width: 100vw;``` */
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #d3d3d4;
}
.main-content {
  /* width: 100%; */
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10rem;
}

.main-header {
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(93, 183, 56, 1) 0%,
    rgba(91, 184, 59, 1) 42%,
    rgba(92, 157, 62, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.main-content > h1 {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 5rem;
  text-align: center;
  color: #f5f5f7;
}
.main-content > span {
  font-size: 3rem;
  box-sizing: border-box;
  padding: 5rem;
  margin: 3rem;
  color: #f5f5f7;
}

.main-content > img {
  grid-column: 2/3;
  margin-right: 4rem;
  grid-row: 1/5;
  height: auto;
  -webkit-box-shadow: -10px 11px 42px 2px rgba(0, 0, 0, 0.54);
  box-shadow: -10px 11px 42px 2px rgba(0, 0, 0, 0.54);
}

.main-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* width: 100%; */
  margin: 0 2rem;
  flex-wrap: wrap;
}
.main-body > h1 {
  width: 40%;
}
.main-body > img {
  height: 700px;
  -webkit-box-shadow: 27px 20px 50px -13px rgba(0, 0, 0, 0.41);
  box-shadow: 27px 20px 50px -13px rgba(0, 0, 0, 0.41);
}

.pricing {
  margin-top: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pricing_List {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
  align-items: center;
  /* width: 100%; */
}
.pricing_List > li {
  list-style: none;
  width: auto;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #f6f6f6;
  /* position: relative; */
}
li {
  list-style: none;
}

.pricing_col1 > div,
.pricing_col2 > div,
.pricing_col3 > div {
  /* position: absolute; */
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  align-items: center;
}

.dashboard {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-bottom: 2rem;
  grid: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* width: 100%; */
  height: 100%;
  text-align: center;
}
.dashboard > h1 {
  margin-top: 10rem;
  font-size: 5rem;
}
.dashboard > img {
  margin-top: 5rem;
}
.dashboard > p {
  margin-top: 5rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.dashboard > .inner-dash {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
}

.inner-dash > span {
  font-style: italic;
}
.Demo-Button {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 50%;
  outline: none;
  color: #f5f5f7;
  font-family: "Poppins";
  font-size: 1.25rem;
  border: none;
  border-radius: 32px;
  background: #5eb735;
}
.Demo-Button:active {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 50%;
  outline: none;
  color: #f5f5f7;
  font-family: "Poppins";
  font-size: 1.25rem;
  border: none;
  border-radius: 32px;
  background: #5eb735;
  box-shadow: inset 19px 19px 39px #56a831, inset -19px -19px 39px #66c639;
}

@media only screen and (max-width: 600px) {
  .main-content {
    grid-template-columns: 1fr;
    /* position: relative; */
    width: 100vw;
  }
  .main-content > h1 {
    grid-column: 1/2;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    color: #f5f5f7;
    width: 100%;
    margin-left: 2.5rem;
  }
  .main-content > span {
    grid-column: 1/2;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    color: #f5f5f7;
  }
  .main-content > img {
    height: auto;
  }
}
