/*======================Tips Collected Section=================*/
.tips_collected1 {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background: #f5f5f7;
  box-shadow: 20px 20px 60px #bfbfc1, -20px -20px 60px #ffffff;
}
.tips_collected_container1 {
  max-height: 85vh;
  overflow: auto;
}

.emp_over_heading1 {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.emp_over_image1 {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 1rem;
  border-bottom: solid 0.5px grey;
}

.ind_emp_tips1 {
  box-sizing: border-box;
  padding: 1rem;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, (3, 1fr));
  grid-template-areas: "clientName date amount";
  grid-gap: 2rem;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  background: #f5f5f7;
  box-shadow: 20px 20px 60px #bfbfc1, -20px -20px 60px #ffffff;
}
.name_col1 {
  grid-area: clientName;
}
.date_col1 {
  grid-area: date;
}
.amount_collected1 {
  grid-area: amount;
}
.button-back {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 30%;
  outline: none;
  color: #2f2f31;
  font-family: "Poppins";
  border: none;
  border-radius: 32px;
  background: linear-gradient(45deg, #ffffff, #ddddde);
  box-shadow: 6px -5px 12px #626263, -6px 6px 12px #ffffff;
}
.fan {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.button-back:active {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  width: 30%;
  outline: none;
  border: none;
  color: #2f2f31;
  font-family: "Poppins";
  border-radius: 32px;
  background: #f5f5f7;
  box-shadow: inset 15px -15px 30px #dfdfe1, inset -15px 15px 30px #ffffff;
}
