.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}
.stats > div {
  text-align: center;
  width: 100%;
  height: 100%;
  background: #f5f5f7;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #bfbfc1, -20px -20px 60px #ffffff;
}
.stats_info4,
.stats_info3,
.stats_info2,
.stats_info5,
.stats_info1,
.internal-top5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info4_statistics {
  margin-right: 3rem;
}
.info1_statistics {
  margin-right: 1rem;
  margin-top: 2rem;
}
.stats_info5 > div,
.stats_info3 > div {
  width: 100%;
}
.topFive_emp1 {
  box-sizing: border-box;
  width: 90%;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 8px;
  margin-bottom: 1rem;
  background: #f5f5f7;
  box-shadow: 20px 20px 60px #bfbfc1, -20px -20px 60px #ffffff;
}
.topFive_emp1:nth-child(1) {
  margin-top: 1rem;
}

.topFive_emp1 :is(div) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*=======Aligning the stats page ===================*/
@media only screen and (min-width: 764px) {
  .stats_info4 {
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 764px) {
  .stats {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
