@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}
.App {
  display: grid;
  grid-template-columns: auto 5px 1fr;
  grid-template-rows: auto;
  grid-template-areas: "sidebar sandwich body";
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.fa-chevron-left {
  grid-area: sandwich;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 1rem;
  align-self: flex-start;

  color: #5eb735;
}
.col2 {
  background-color: brown;
  grid-area: sandwich;
}

.fa-chevron-right {
  grid-area: sandwich;
  cursor: pointer;
  margin-top: 2rem;
  margin-right: 10rem;
  align-self: flex-start;

  color: #236703;
}
